.row{
  padding-top: 20px;
}
.box-size{
  width: 50%;
  margin: auto;
}

#navbarNav{
  color: moccasin;
}

#navbarNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.nav-link{
  color: white !important;
}
.col-md-2{
  padding-left: 40px;
}